.border-detail {
    height: auto;
    padding-left: 17%;
    padding-right: 17%;
    background-color: #E5E5E5;
}
.navigasi {
    margin-bottom: 5%;
}
.description {
    text-align: justify;
}
.fitur {
    list-style-type: none;
}
.carousel-control-next {
    margin-right: 10%;
}
.carousel-control-prev {
    margin-left: 5%;
}
