.border-home {
    height: 525px;
    padding-left: 17%;
    padding-right: 17%;
    background-color: #ffffff;
}
.navigasi {
    margin-bottom: 5%;
}
.border-home2 {
    height: auto;
    padding-top: 5%;
    padding-left: 17%;
    padding-right: 17%;
    background-color: #E5E5E5;
}
.product-card-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}