.border-product {
    padding-left: 17%;
    padding-right: 17%;
}
.navigasi {
    margin-bottom: 5%;
}
.product-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}